# UBL-2.1 Documentation files (too large for Git)
*.pdf
*.html
*.xml
*.ods
*.xls
*.jar
*.gif
*.jpg
*.png
*.css
*.xsl
*.bat
*.sh
*.ent
*.dtd
*.mod
*.cat
*.xweb
*.xpr
*.js
*.htm
*.cva
*.gc
*.rnc
*.uml
*.xpr
art/
cl/
cva/
db/
mod/
rnc/
uml/
val/
xml/
